GEMINI_API_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_NUMBER_1=
WHATSAPP_NUMBER_2=
WHATSAPP_PHONE_NUMBER_ID=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
